<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyDummy.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MyDummy.Settings1>
            <setting name="txtCoordsXX" serializeAs="String">
                <value>1557</value>
            </setting>
            <setting name="txtCoordsXY" serializeAs="String">
                <value>517</value>
            </setting>
            <setting name="txtCoordsYX" serializeAs="String">
                <value>1607</value>
            </setting>
            <setting name="txtCoordsYY" serializeAs="String">
                <value>517</value>
            </setting>
            <setting name="txtHealthX" serializeAs="String">
                <value>1616</value>
            </setting>
            <setting name="txtHealthY" serializeAs="String">
                <value>288</value>
            </setting>
            <setting name="ProcessName" serializeAs="String">
                <value>WowClassic</value>
            </setting>
            <setting name="txtXBattlemaster" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="txtYBattlemaster" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="txtXJoin" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="txtYJoin" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="txtXOpenCloseWA" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="txtYOpenCloseWA" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="txtXIsAlive" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="txtYIsAlive" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="txtXLeave" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="txtYLeave" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="txtXLeaveBG" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="txtYLeaveBG" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="txtXInsignia" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="txtYInsignia" serializeAs="String">
                <value>123</value>
            </setting>
        </MyDummy.Settings1>
    </userSettings>
</configuration>